{% extends "layout.html" %}

{% block title %}My Page{% endblock %}

{% block page %}My Page{% endblock %}

{% block content %}

<div class="row center-align">
    <div class="col s12 m4">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Lecturer Login</span>
                <div class="row">
                    <form class="col s12">
                        <div class="input-field col s12">
                            <input id="username" type="text" class="validate">
                            <label for="username">Username</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button class="btn waves-effect waves-light purple" type="submit" name="action">Login</button>
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-content">
                <span class="card-title">CETL Login</span>
                <div class="row">
                    <form class="col s12">
                        <div class="input-field col s12">
                            <input id="username" type="text" class="validate">
                            <label for="username">Username</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button class="btn waves-effect waves-light purple" type="submit" name="action">Login</button>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Signup</span>
                <div class="row">
                    <div class="input-field col s12">
                        <a class="btn waves-effect waves-light purple" href="/signup">Signup</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

