{% extends 'registrationlayout.html' %}

<meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
{% block title %}Registration{% endblock %}


{{ super() }}

{% block content %} 

<body>
	<div class="registration" title="Signup">  	
			<div class="signup" aria-hidden="true">
				<form id="signupform" method="POST" action="/signup">
					{{ form.csrf_token }}
                    <h1 aria-hidden="true">UWI Coma</h1> 
                    <h2>Sign up: </h2>

					{% with messages = get_flashed_messages() %}
					{% if messages %}
					  
						  
						  {% for message in messages %}
							<p style="color: yellow">{{ message }}</p>
						  {% endfor %}
						  
					  
					{% endif %}
				  {% endwith %}

          {{ form.role.label }}
          {{ form.role(size=50, class="validate") }}

          {{ form.ID.label }}
          {{ form.ID(size=50, class="validate") }}
					
          {{ form.firstname.label }}
					{{ form.firstname(size=50, class="validate") }}

          {{ form.lastname.label }}
          {{ form.lastname(size=50, class="validate") }}         

					{{ form.email.label }}
					{{ form.email(size=50, class="validate") }}
              			
					{{ form.password.label }}
					{{ form.password(size=20, class="validate") }}
              			
					{{ form.confirm.label }}
					{{ form.confirm(size=20, class="validate") }}
					    
						<div class="button:hover">
						{{form.submit(class="button")}}
						</div>

					<!--<input type="username" name="username" placeholder="Username" required="">
					<input type="name" name="name" placeholder="Name" required="">
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="password" placeholder="Password" required="">
					<button onclick="window.location.href='/home';">Sign Up</button> -->
                    <p type="p2">Already have an account? <a href="/login">Login here</a></p>
				</form>
			</div>
	</div>
</body>

<script>
  function togglePassword() {
    var passwordInput = document.getElementById("password");
    if (passwordInput.type === "password") {
      passwordInput.type = "text";
      document.querySelector(".btn.right").textContent = "Hide";
    } else {
      passwordInput.type = "password";
      document.querySelector(".btn.right").textContent = "Show";
    }
  }
</script>
{% endblock %}